@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Titillium+Web&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo-G{
    width: 150px;
    margin-top: 1%;
    position: absolute;
    left: 45%;
}

body{
    background-color: #332E2E;
}

form{
    background-color: white;
    width: 500px;
    width: 40%;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form h3{
    text-align: center;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form p{
    color: #6A6868;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form a{
    color: black;
}

form a:hover{
    color: deepskyblue;
}

form input[type=text], form input[type=password]{
    width: 100%;
    height: 45px;
    border: 1px solid #ccc;
    padding-left: 10px;
    margin: 10px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form input[type=submit]{
    width: 100%;
    height: 40px;
    cursor: pointer;
    background-color: #6A6868;
    color: white;
    border: 0;
    border-radius: 10px;
    transition: 1s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form input[type=submit]:hover{
    background-color: #332E2E;
}

.Esqueceu{
    text-align: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.Cadastrar{
    text-align: center;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Cadastrar p{
    text-align: center;
    padding: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.text-politica{
    text-align: center;
    padding: 1%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Politica{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}